:root {
    --background-color: #F9F0E5;
    --primary-color: #01005B;
    --background-color-add: #F0EEEF;
    --title-color: #2A2996;


}


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-custom {
    background-color: var(--background-color);
}

.bg-photo {
    background-color: var(--primary-color);
}

.small-text {
    font-size: 11px;
}

.title {
    color: var(--primary-color);
    letter-spacing: 0.1rem;
}


.desktop-el {
    display: none;
}

.logo-img {
    width: 200px;
    height: 100%;
}

.smallIconPinkBg {
    width: 31px;
    height: 100%;
}

.text-paragraph {
    font-size: 13px;
}

.button {
    background-color: var(--primary-color);
    font-size: 18px;
    width: 362px;
}

.stars {
    width: 60px;
    height: 9.68px;
}

.stars-big {
    width: 80.56px;
    height: 13px;
}

.swiper-pagination-bullet {
    background-color: grey !important;
}

.swiper-pagination-bullet-active {
    background-color: black !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '' !important;
}

.swiper-button-prev {
    background-image: url('assets/ArrowLeft.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-next {
    background-image: url('assets/ArrowRight.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.thumbnail.active {
    border: 2px solid white;
}

.blog-section {
    background-color: var(--background-color-add);
}

.blog-text {
    font-size: 15px;
}

.card {
    background-color: var(--background-color-add);
    height: 300px;
}

.middle-card {
    background-color: var(--background-color);
    height: 300px;
}

.impact-section {
    background-color: var(--background-color-add);
    color: var(--title-color)
}

.footer{
    background: linear-gradient(360deg, #F9F0E5 0%, rgba(249, 240, 229, 0.18) 43.05%, rgba(249, 240, 229, 0) 100%);

}

.characteristics {
    background: linear-gradient(360deg, #F9F0E5 0%, rgba(249, 240, 229, 0.18) 43.05%, rgba(249, 240, 229, 0) 100%);

}

.color-section {
    background: linear-gradient(180deg, #F9F0E5 -7.8%, rgba(249, 240, 229, 0.18) 38.6%, rgba(249, 240, 229, 0) 100%);

}